* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #CFD8DC;
    color: #000000;


}

.container {
    background: #4169E1;
    border: 4px var solid;
    border-bottom-color: yellow;
    border-radius: 10px;
    display: flex;
    height: 410px;
    width: 390px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.temp-calculator {
    width: 100%;
    padding: 0 20px;
    margin: 25px 0;


}

.title {
    font-size: 34px;
    font-weight: 600;
    color: yellow;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.temp-value {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.temp-value p {
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    flex-basis: 42%;
    text-decoration: bold;
    font-weight: bold;
}

.temp-value input {
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    color: white;
    text-decoration: body;
    background: black;
    width: 55%;
    padding: 10px;
    flex-basis: 55%;
}

#degree {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#degree span {
    flex-basis: 48%;
}

#degree span p {
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 5px 10px;
}

#degree span select {
    width: 100%;
    border: 0;

    outline: none;
    font-size: 14px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    background: 58D68D;
    padding: 10px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btn input {
    font-size: 16px;
    background-color: #58D68D;
    padding: 10px;
    flex-basis: 45%;
    color: #black;
    flex-wrap: wrap;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}

.temp-value #ans {
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    flex-basis: 25%;
    color: lighter;
    font-weight: bold;
}

.temp-value #result {
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    background: #CC7DFF;
    width: 60%;
    padding: 10px;
    flex-basis: 70%;
    cursor: default;
}